<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/Asteroids<%= min %>.css" />
    <script src="/javascripts/Asteroids<%= min %>.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  </head>
  <body>
    <div id='canvas-wrapper'></div>
  </body>
</html>